TAILSCALE_OAUTH_CLIENT_ID=
TAILSCALE_OAUTH_CLIENT_SECRET=
# Space-delimited list; must be allowed by the OAuth client you created in the Tailscale admin UI
TAILSCALE_OAUTH_SCOPE=devices:core:read
TAILSCALE_TAILNET=example.com
NTFY_URL=https://ntfy.example.com
NTFY_AUTH_TOKEN=tk_xxxxxxxxxxxxx
NTFY_TOPIC=tailscale
POLL_INTERVAL=60s
# DEVICE_FILTER=device1,device2,device3
